/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puedes agregar extras para scrollbar custom: */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #232323;
  border-radius: 10px;
}

@keyframes fogMove {
  0% { background-position: 0% 0%, 100% 100%, 0% 0%; }
  50% { background-position: 50% 40%, 60% 60%, 100% 0%; }
  100% { background-position: 0% 0%, 100% 100%, 0% 0%; }
}